@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Roboto:wght@500&display=swap");

:root {
  --color__primary: #fd377e;
  --color__secundary: #e34981;
  --color__tertiary: #03b898;
  --color__back: #282c34;
  --color__grey3: #868e96;
  --color__gray2: #e9ecef;
  --color__gray1: #f8f9fa;
  --font__title: "Roboto", sans-serif;
  --font__size-title1: 28px;
  --font__size-title2: 24px;
  --font__size-title3: 20px;
  --font__text: "Nunito", sans-serif;
  --font__size-text: 16px;
  --font__size-text2: 12px;
}
