@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Roboto:wght@500&display=swap");

:root {
  --color__primary: #fd377e;
  --color__secundary: #e34981;
  --color__tertiary: #03b898;
  --color__back: #282c34;
  --color__grey3: #868e96;
  --color__gray2: #e9ecef;
  --color__gray1: #f8f9fa;
  --font__title: "Roboto", sans-serif;
  --font__size-title1: 28px;
  --font__size-title2: 24px;
  --font__size-title3: 20px;
  --font__text: "Nunito", sans-serif;
  --font__size-text: 16px;
  --font__size-text2: 12px;
}

.card__container {
  background-color: var(--color__gray1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  border-left: 4px solid #03b898;
  margin-bottom: 20px;
}

.card__container2 {
  background-color: var(--color__gray1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  border-left: 4px solid #626262;
  margin-bottom: 20px;
}

.card__container:hover,
.card__container2:hover {
  box-shadow: 1px 6px 16px 0px rgba(208, 208, 208, 0.62);
  -webkit-box-shadow: 1px 6px 16px 0px rgba(208, 208, 208, 0.62);
  -moz-box-shadow: 1px 6px 16px 0px rgba(208, 208, 208, 0.62);
}

.card {
  margin-left: 25px;
}

.card__description {
  font-family: var(--font__title);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: var(--color__back);
}

.card__type {
  color: var(--color__grey3);
  font-family: var(--font__text);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
}

.card__value {
  margin-top: 5px;
}

.aside__card {
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
}

.card__reais {
  color: var(--color__back);
  font-family: var(--font__title);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  float: right;
  margin-top: 20px;
}

.trash {
  width: 11px;
  height: 11px;
  padding: 5px;
}

.box__trash {
  width: 18px;
  height: 18px;
  padding: 3px;
  margin-top: 10px;
  margin-right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color__grey3);

  border-radius: 5px;
}

.box__trash:hover {
  background-color: var(--color__back);
}
