.main {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 40px;
}

.container__list {
  float: right;
  width: 560px;
  min-height: 500px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.container__aside {
  width: 300px;
}


